In [1]:
import os
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import csv
import cv2
import string
import matplotlib.pyplot as plt
from nltk.stem.porter import PorterStemmer
import numpy as np
import pandas as pd
import numpy as np
import os
import math
from tqdm import tqdm
from nltk import pos_tag
from textblob import TextBlob
import collections
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import TweetTokenizer
import nltk
from nltk.tokenize import RegexpTokenizer
from collections import defaultdict
import string
import re
from sklearn.model_selection import train_test_split
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score
import nltk
import warnings
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df1=pd.read_csv("/content/drive/MyDrive/IR/BBC News Train.csv")
df1

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [4]:
df1.drop(['ArticleId'], axis=1, inplace = True)
df1

                                                   Text       Category
0     worldcom ex-boss launches defence lawyers defe...       business
1     german business confidence slides german busin...       business
2     bbc poll indicates economic gloom citizens in ...       business
3     lifestyle  governs mobile choice  faster  bett...           tech
4     enron bosses in $168m payout eighteen former e...       business
...                                                 ...            ...
1485  double eviction from big brother model caprice...  entertainment
1486  dj double act revamp chart show dj duo jk and ...  entertainment
1487  weak dollar hits reuters revenues at media gro...       business
1488  apple ipod family expands market apple has exp...           tech
1489  santy worm makes unwelcome visit thousands of ...           tech

[1490 rows x 2 columns]

In [5]:
df1.isnull().sum()

Text        0
Category    0
dtype: int64

In [6]:
df1[df1.duplicated()]

                                                   Text       Category
157   prince crowned  top music earner  prince earne...  entertainment
208   format wars could  confuse users  technology f...           tech
271   fox attacks blair s tory  lies  tony blair lie...       politics
309   freeze on anti-spam campaign a campaign by lyc...           tech
494   ask jeeves joins web log market ask jeeves has...           tech
503   microsoft gets the blogging bug software giant...           tech
529   talks aim to avert pension strike talks aimed ...       politics
629   digital guru floats sub-$100 pc nicholas negro...           tech
636   de niro film leads us box office film star rob...  entertainment
637   bortolami predicts dour contest italy skipper ...          sport
696   downloads enter us singles chart digital music...  entertainment
733   junk e-mails on relentless rise spam traffic i...           tech
737   camera phones are  must-haves  four times more...           tech
744   gadget market  to grow in 2005  the explosion ...           tech
821   spam e-mails tempt net shoppers computer users...           tech
825   mobiles rack up 20 years of use mobile phones ...           tech
837   pop band busted to  take a break  chart-toppin...  entertainment
949   california sets fines for spyware the makers o...           tech
967   t-mobile bets on  pocket office  t-mobile has ...           tech
992   queen recruit singer for new tour the remainin...  entertainment
1006  howard denies split over id cards michael howa...       politics
1010  security warning over  fbi virus  the us feder...           tech
1042  ferguson rues failure to cut gap boss sir alex...          sport
1043  commodore finds new lease of life the once-fam...           tech
1047  virus poses as christmas e-mail security firms...           tech
1070  stars pay tribute to actor davis hollywood sta...  entertainment
1082  musical treatment for capra film the classic f...  entertainment
1115  ultimate game  award for doom 3 sci-fi shooter...           tech
1131  doors open at biggest gadget fair thousands of...           tech
1137  us peer-to-peer pirates convicted the first co...           tech
1156  debate needed  on donations cap a cap on donat...       politics
1207  hague  given up  his pm ambition former conser...       politics
1221  spain coach faces racism inquiry spain s footb...          sport
1247  brown outlines third term vision gordon brown ...       politics
1271  ray dvd beats box office takings oscar-nominat...  entertainment
1296  microsoft seeking spyware trojan microsoft is ...           tech
1302  us duo in first spam conviction a brother and ...           tech
1317  blind student  hears in colour  a blind studen...           tech
1354  mobiles  not media players yet  mobiles are no...           tech
1367  hotspot users gain free net calls people using...           tech
1387  schools to take part in mock poll record numbe...       politics
1397  more power to the people says hp the digital r...           tech
1409  web radio takes spanish rap global spin the ra...           tech
1415  mps issued with blackberry threat mps will be ...       politics
1420  holmes starts 2005 with gb events kelly holmes...          sport
1430  aviator  creator  in oscars snub the man who s...  entertainment
1433  singer s film to show at festival a documentar...  entertainment
1439  what high-definition will do to dvds first it ...           tech
1455  britons fed up with net service a survey condu...           tech
1458  economy  strong  in election year uk businesse...       business

In [7]:
df1.drop_duplicates(inplace=True)
df1[df1.duplicated()]

Empty DataFrame
Columns: [Text, Category]
Index: []

In [8]:
df1 = df1.reset_index(drop=True)
df1

                                                   Text       Category
0     worldcom ex-boss launches defence lawyers defe...       business
1     german business confidence slides german busin...       business
2     bbc poll indicates economic gloom citizens in ...       business
3     lifestyle  governs mobile choice  faster  bett...           tech
4     enron bosses in $168m payout eighteen former e...       business
...                                                 ...            ...
1435  double eviction from big brother model caprice...  entertainment
1436  dj double act revamp chart show dj duo jk and ...  entertainment
1437  weak dollar hits reuters revenues at media gro...       business
1438  apple ipod family expands market apple has exp...           tech
1439  santy worm makes unwelcome visit thousands of ...           tech

[1440 rows x 2 columns]

In [9]:
df1['Category'].value_counts()

sport            342
business         335
politics         266
entertainment    263
tech             234
Name: Category, dtype: int64

**Natural Language Processing**

In [10]:
def stemming(data):
    stemmer = PorterStemmer()
    new_tokens = []
    for w in data:
        new_tokens.append(stemmer.stem(w))
    return new_tokens

def lemmatization(data):
  lemmatiz  = WordNetLemmatizer()
  new_tokens = []
  for w in data:
        new_tokens.append(lemmatiz.lemmatize(w))
  return new_tokens

def text_preprocessing_stem(text):
    text = text.lower()
    word_tokens = word_tokenize(text)
    stop_words = set(stopwords.words("english"))
    filtered_text = [word for word in word_tokens if word not in stop_words]
    modified_tokens = list(filter(lambda token: token not in string.punctuation, filtered_text))
    modified_tokens = list(filter(lambda token: token != " ", modified_tokens))
    modified_tokens = stemming(modified_tokens)
    return modified_tokens

def text_preprocessing_lemm(text):
    text = text.lower()
    word_tokens = word_tokenize(text)
    stop_words = set(stopwords.words("english"))
    filtered_text = [word for word in word_tokens if word not in stop_words]
    modified_tokens = list(filter(lambda token: token not in string.punctuation, filtered_text))
    modified_tokens = list(filter(lambda token: token != " ", modified_tokens))
    modified_tokens = lemmatization(modified_tokens)
    return modified_tokens

In [11]:
def clean_text(data_df):
    for index, row in data_df.iterrows():
        sample = row['Text']
        data_df.loc[index, 'Text'] = text_preprocessing_stem(sample)
    return data_df

df = clean_text(df1)
df

                                                   Text       Category
0     [worldcom, ex-boss, launch, defenc, lawyer, de...       business
1     [german, busi, confid, slide, german, busi, co...       business
2     [bbc, poll, indic, econom, gloom, citizen, maj...       business
3     [lifestyl, govern, mobil, choic, faster, bette...           tech
4     [enron, boss, 168m, payout, eighteen, former, ...       business
...                                                 ...            ...
1435  [doubl, evict, big, brother, model, capric, ho...  entertainment
1436  [dj, doubl, act, revamp, chart, show, dj, duo,...  entertainment
1437  [weak, dollar, hit, reuter, revenu, media, gro...       business
1438  [appl, ipod, famili, expand, market, appl, exp...           tech
1439  [santi, worm, make, unwelcom, visit, thousand,...           tech

[1440 rows x 2 columns]

**Training and Testing Naive Bayes classifier with TF-ICF**

In [12]:
def tf(word, postings, class_id, class_doc):
    tf = postings[word][1][class_id]
    return tf

def tf_log(word, postings, class_id, class_doc):
    tf = postings[word][1][class_id]
    tf = math.log(1 + tf)
    return tf

def tf_binary(word, postings, class_id, class_doc):
  if class_id in postings[word][1]:
    return 1
  else:
    return 0

def icf(word, postings):
    num_classes = 5
    return math.log(num_classes / len(postings[word][1]))

def tficf(word, postings, class_id, class_doc, scheme = None):
    if scheme == None:
      return tf(word, postings, class_id, class_doc) * icf(word, postings)
    elif scheme == 'log':
      return tf_log(word, postings, class_id, class_doc) * icf(word, postings)
    elif scheme == 'binary':
      return tf_binary(word, postings, class_id, class_doc) * icf(word, postings)

def posting_list(df):
    postings = {}

    for index, row in df.iterrows():
        for token in row['Text']:
            if token in postings:
                if row['Category'] in postings[token][1]:
                  postings[token][1][row['Category']] = postings[token][1][row['Category']] + 1
                else:
                  postings[token][1][row['Category']] =  1
                postings[token][0] = 1 + postings[token][0]
            else:
                postings[token] = [1, {row['Category']:1}]
    
    return postings

def build_tc_icf_mat(postings, category_club, scheme = None):
  num_classes = ['business', 'entertainment', 'politics', 'sport', 'tech']
  tf_icf_matrix = {}
  posting_list = postings.items()
  for i in num_classes:
    tf_icf_matrix[i] = {}
    for j, term in enumerate(posting_list):
          term = term[0]
          tf_icf_matrix[i][term] = 0
          try:
            tf_icf_matrix[i][term] = tficf(term, postings, i, category_club[category_club['Category']==i]['Text'].values[0], scheme)
          except:
            pass
  return tf_icf_matrix

def get_class_prob(df_train):
  prob_cat = {}
  val_count = df_train['Category'].value_counts()
  for i in val_count.index:
    prob_cat[i] = val_count[i]/val_count.sum()
  return prob_cat


def train(df_train, scheme = None):
  category_club = df_train.groupby('Category')['Text'].agg(sum).reset_index()
  postings = posting_list(category_club)
  tf_icf_matrix = build_tc_icf_mat(postings, category_club, scheme)
  prob_cat = get_class_prob(df_train)
  return tf_icf_matrix, prob_cat

def predict(X, tf_icf_matrix, prob_cat):
  num_classes = ['business', 'entertainment', 'politics', 'sport', 'tech']
  y_pred = []
  for i in X:
    prob_a = {}
    for cat in num_classes:
      prior = math.log(prob_cat[cat])
      for word in i:
        if word in tf_icf_matrix[cat]:
          prior = prior +  tf_icf_matrix[cat][word]
        else:
          prior = prior + math.log(1/(len(X)+1))
      prob_a[cat] = prior
    y_pred.append(max(prob_a, key= lambda x: prob_a[x]))
  return y_pred

**Splitting the dataset in 70:30 ratio**

In [13]:
split = 0.3
X_train, X_test, y_train, y_test = train_test_split(df['Text'], df['Category'], test_size=split, random_state=42, stratify=df['Category'])
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1008,), (432,), (1008,), (432,))

In [14]:
data = {"Text": X_train,
        "Category": y_train}
df_train = pd.concat(data, axis = 1).reset_index(drop=True)
df_train

                                                   Text  Category
0     [newcastl, 27-27, gloucest, newcastl, centr, m...     sport
1     [itali, get, econom, action, plan, italian, pr...  business
2     [vodafon, appoint, new, japan, boss, vodafon, ...  business
3     [worldcom, director, end, evid, former, chief,...  business
4     [edward, tip, idowu, euro, gold, world, outdoo...     sport
...                                                 ...       ...
1003  [bp, surg, ahead, high, oil, price, oil, giant...  business
1004  [roddick, face, saulnier, final, andi, roddick...     sport
1005  [mci, share, climb, takeov, bid, share, us, ph...  business
1006  [moy, u-turn, beatti, dismiss, everton, manag,...     sport
1007  [peer-to-p, net, stay, peer-to-p, p2p, network...      tech

[1008 rows x 2 columns]

In [15]:
tf_icf_matrix, prob_cat = train(df_train)
y_predicted = predict(X_test, tf_icf_matrix, prob_cat)

In [16]:
print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9537037037037037
               precision    recall  f1-score   support

     business       0.99      0.89      0.94       100
entertainment       0.96      0.95      0.96        79
     politics       0.95      0.97      0.96        80
        sport       0.97      1.00      0.99       103
         tech       0.88      0.96      0.92        70

     accuracy                           0.95       432
    macro avg       0.95      0.95      0.95       432
 weighted avg       0.96      0.95      0.95       432

**Improving the Classifier**

#####Using different term frequency weighting schemes

#####1. Binary

In [17]:
tf_icf_matrix, prob_cat = train(df_train, 'binary')
y_predicted = predict(X_test, tf_icf_matrix, prob_cat)

print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9328703703703703
               precision    recall  f1-score   support

     business       0.91      0.95      0.93       100
entertainment       0.91      0.92      0.92        79
     politics       0.97      0.90      0.94        80
        sport       0.96      0.99      0.98       103
         tech       0.90      0.87      0.88        70

     accuracy                           0.93       432
    macro avg       0.93      0.93      0.93       432
 weighted avg       0.93      0.93      0.93       432

#####2. Log

In [18]:
tf_icf_matrix, prob_cat = train(df_train, 'log')
y_predicted = predict(X_test, tf_icf_matrix, prob_cat)

print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9652777777777778
               precision    recall  f1-score   support

     business       0.95      0.95      0.95       100
entertainment       0.96      0.97      0.97        79
     politics       0.99      0.95      0.97        80
        sport       0.97      1.00      0.99       103
         tech       0.96      0.94      0.95        70

     accuracy                           0.97       432
    macro avg       0.97      0.96      0.96       432
 weighted avg       0.97      0.97      0.97       432

**Using top k features**

In [19]:
def select_top_k_features(tf_icf_matrix, num):
  num_classes = ['business', 'entertainment', 'politics', 'sport', 'tech']
  selected_features = {}
  for i in num_classes:
      count = 0
      selected_features[i] = []
      for key, value in tf_icf_matrix[i].items():
          selected_features[i].append(key)
          count = count + 1
          if num <= count:
              break      
  return selected_features

def train_top_k_features(df_train, num, scheme = None):
  num_classes = ['business', 'entertainment', 'politics', 'sport', 'tech']
  category_club = df_train.groupby('Category')['Text'].agg(sum).reset_index()
  postings = posting_list(category_club)
  tf_icf_matrix = build_tc_icf_mat(postings, category_club, scheme)
  for k in num_classes:
    tf_icf_matrix[k] = collections.OrderedDict(sorted(tf_icf_matrix[k].items(), key =lambda x:(x[1], x[0]),reverse=True))
  selected_features = select_top_k_features(tf_icf_matrix, num)
  prob_cat = get_class_prob(df_train)
  return tf_icf_matrix, prob_cat, selected_features

def predict_top_k_features(X, tf_icf_matrix, prob_cat, selected_features):
  num_classes = ['business', 'entertainment', 'politics', 'sport', 'tech']
  y_pred = []
  for i in X:
    prob_a = {}
    for cat in num_classes:
      prior = math.log(prob_cat[cat])
      for word in i:
        if word in selected_features[cat]:
          prior = prior +  tf_icf_matrix[cat][word]
        else:
          prior = prior + math.log(1/(len(X)+1))
      prob_a[cat] = prior
    y_pred.append(max(prob_a, key= lambda x: prob_a[x]))
  return y_pred

#####1. Top 20 features

In [20]:
tf_icf_matrix, prob_cat, selected_features = train_top_k_features(df_train, 20)
y_predicted = predict_top_k_features(X_test, tf_icf_matrix, prob_cat, selected_features)

print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.8634259259259259
               precision    recall  f1-score   support

     business       0.96      0.76      0.85       100
entertainment       0.93      0.90      0.92        79
     politics       0.84      0.82      0.83        80
        sport       0.75      0.96      0.84       103
         tech       0.92      0.87      0.90        70

     accuracy                           0.86       432
    macro avg       0.88      0.86      0.87       432
 weighted avg       0.88      0.86      0.86       432

#####2. Top 1000 features

In [21]:
tf_icf_matrix, prob_cat, selected_features = train_top_k_features(df_train, 1000)
y_predicted = predict_top_k_features(X_test, tf_icf_matrix, prob_cat, selected_features)

print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9490740740740741
               precision    recall  f1-score   support

     business       0.98      0.87      0.92       100
entertainment       0.97      0.95      0.96        79
     politics       0.93      0.97      0.95        80
        sport       0.97      1.00      0.99       103
         tech       0.88      0.96      0.92        70

     accuracy                           0.95       432
    macro avg       0.95      0.95      0.95       432
 weighted avg       0.95      0.95      0.95       432

**Using TF-IDF weights**

In [22]:
def idf(word, doc_postings, total_docs):
    return math.log(total_docs / len(doc_postings[word][1]))

def tfidf(word, postings, class_id, class_doc, doc_postings, total_docs):
    return tf(word, postings, class_id, class_doc) * idf(word, doc_postings, total_docs)

def doc_posting_list(df):
    postings = {}
    for index, row in df.iterrows():
        for token in row['Text']:
            if token in postings:
                if index not in postings[token][1]:
                  postings[token][1].append(index)
                postings[token][0] = 1 + postings[token][0]
            else:
                postings[token] = [1, [index]]
    
    return postings

def build_tf_idf_mat(postings, category_club, doc_postings, total_docs):
  num_classes = ['business', 'entertainment', 'politics', 'sport', 'tech']
  tf_idf_matrix = {}
  posting_list = postings.items()
  for i in num_classes:
    tf_idf_matrix[i] = {}
    for j, term in enumerate(posting_list):
          term = term[0]
          tf_idf_matrix[i][term] = 0
          try:
            tf_idf_matrix[i][term] = tfidf(term, postings, i, category_club[category_club['Category']==i]['Text'].values[0], doc_postings, total_docs)
          except:
            pass
  return tf_idf_matrix

def train_tf_idf(df_train):
  category_club = df_train.groupby('Category')['Text'].agg(sum).reset_index()
  postings = posting_list(category_club)
  doc_postings = doc_posting_list(df_train)
  tf_idf_matrix = build_tf_idf_mat(postings, category_club, doc_postings, df_train.shape[0])
  prob_cat = get_class_prob(df_train)
  return tf_idf_matrix, prob_cat


tf_idf_matrix, prob_cat = train_tf_idf(df_train)
y_predicted = predict(X_test, tf_idf_matrix, prob_cat)

print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9398148148148148
               precision    recall  f1-score   support

     business       0.98      0.94      0.96       100
entertainment       1.00      0.80      0.89        79
     politics       0.89      0.99      0.93        80
        sport       0.96      1.00      0.98       103
         tech       0.87      0.96      0.91        70

     accuracy                           0.94       432
    macro avg       0.94      0.94      0.93       432
 weighted avg       0.94      0.94      0.94       432

**Using different split ratios**

#####1. Splitting the data in 60:40 ratio

In [23]:
split = 0.4
X_train, X_test, y_train, y_test = train_test_split(df['Text'], df['Category'], test_size=split, random_state=42, stratify=df['Category'])
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((864,), (576,), (864,), (576,))

In [24]:
data = {"Text": X_train,
        "Category": y_train}
df_train = pd.concat(data, axis = 1).reset_index(drop=True)
df_train

                                                  Text  Category
0    [burglar, defenc, guidelin, issu, household, i...  politics
1    [season, lift, hous, market, swath, figur, pro...  business
2    [serena, end, sania, mirza, dream, sania, mirz...     sport
3    [uk, broadband, get, speed, inject, broadband,...      tech
4    [mp, tout, lord, replac, plan, group, mp, tri,...  politics
..                                                 ...       ...
859  [dollar, drop, reserv, concern, us, dollar, dr...  business
860  [bp, surg, ahead, high, oil, price, oil, giant...  business
861  [cab, collect, mountain, mobil, gadget, cheape...      tech
862  [mci, share, climb, takeov, bid, share, us, ph...  business
863  [jone, file, cont, lawsuit, marion, jone, file...     sport

[864 rows x 2 columns]

In [25]:
tf_icf_matrix_1, prob_cat_1 = train(df_train)
y_predicted = predict(X_test, tf_icf_matrix_1, prob_cat_1)

In [26]:
print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9461805555555556
               precision    recall  f1-score   support

     business       0.98      0.90      0.94       134
entertainment       0.96      0.94      0.95       105
     politics       0.93      0.96      0.94       106
        sport       0.96      0.99      0.98       137
         tech       0.89      0.93      0.91        94

     accuracy                           0.95       576
    macro avg       0.94      0.95      0.94       576
 weighted avg       0.95      0.95      0.95       576

#####2. Splitting the data in 80:20 ratio

In [27]:
split = 0.2
X_train, X_test, y_train, y_test = train_test_split(df['Text'], df['Category'], test_size=split, random_state=42, stratify=df['Category'])
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1152,), (288,), (1152,), (288,))

In [28]:
data = {"Text": X_train,
        "Category": y_train}
df_train = pd.concat(data, axis = 1).reset_index(drop=True)
df_train

                                                   Text  Category
0     [blog, pick, word, year, term, blog, chosen, t...      tech
1     [ronaldo, consid, new, contract, manchest, uni...     sport
2     [ask, jeev, tip, onlin, ad, reviv, ask, jeev, ...  business
3     [viru, pose, christma, e-mail, secur, firm, wa...      tech
4     [googl, scan, famou, librari, librari, five, w...      tech
...                                                 ...       ...
1147  [dollar, drop, reserv, concern, us, dollar, dr...  business
1148  [high-definit, dvd, first, humbl, home, video,...      tech
1149  [mci, share, climb, takeov, bid, share, us, ph...  business
1150  [mcconnel, detail, scot, wave, toll, least, th...  politics
1151  [cyber, crime, boom, 2004, last, 12, month, se...      tech

[1152 rows x 2 columns]

In [29]:
tf_icf_matrix_2, prob_cat_2 = train(df_train)
y_predicted = predict(X_test, tf_icf_matrix_2, prob_cat_2)

In [30]:
print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9375
               precision    recall  f1-score   support

     business       0.98      0.88      0.93        67
entertainment       0.92      0.92      0.92        53
     politics       0.96      0.92      0.94        53
        sport       0.93      1.00      0.96        68
         tech       0.88      0.96      0.92        47

     accuracy                           0.94       288
    macro avg       0.94      0.94      0.94       288
 weighted avg       0.94      0.94      0.94       288

#####3. Splitting the data in 50:50 ratio

In [31]:
split = 0.5
X_train, X_test, y_train, y_test = train_test_split(df['Text'], df['Category'], test_size=split, random_state=42, stratify=df['Category'])
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((720,), (720,), (720,), (720,))

In [32]:
data = {"Text": X_train,
        "Category": y_train}
df_train = pd.concat(data, axis = 1).reset_index(drop=True)
df_train

                                                  Text       Category
0    [ukip, candid, suspend, euroscept, parti, ukip...       politics
1    [bath, face, tindal, ultimatum, mike, tindal, ...          sport
2    [bosvelt, optimist, new, deal, manchest, citi,...          sport
3    [princ, crown, top, music, earner, princ, earn...  entertainment
4    [microsoft, set, sight, spywar, window, user, ...           tech
..                                                 ...            ...
715  [last, star, war, children, sixth, final, star...  entertainment
716  [winter, freez, keep, oil, 50, oil, price, car...       business
717  [china, aviat, seek, rescu, deal, scandal-hit,...       business
718  [school, tribut, tv, host, carson, 1, 000, peo...  entertainment
719  [mobil, multimedia, slow, catch, doubt, mobil,...           tech

[720 rows x 2 columns]

In [33]:
tf_icf_matrix_3, prob_cat_3 = train(df_train)
y_predicted = predict(X_test, tf_icf_matrix_3, prob_cat_3)

In [34]:
print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9513888888888888
               precision    recall  f1-score   support

     business       0.98      0.91      0.94       168
entertainment       0.96      0.97      0.97       131
     politics       0.93      0.95      0.94       133
        sport       0.96      0.99      0.98       171
         tech       0.91      0.92      0.92       117

     accuracy                           0.95       720
    macro avg       0.95      0.95      0.95       720
 weighted avg       0.95      0.95      0.95       720

**Using different preprocessing techniques**

#####Doing Lemmatization instead of Stemming

In [35]:
df1=pd.read_csv("/content/drive/MyDrive/IR/BBC News Train.csv")
df1.drop(['ArticleId'], axis=1, inplace = True)
df1.drop_duplicates(inplace=True)
df1 = df1.reset_index(drop=True)
df1

                                                   Text       Category
0     worldcom ex-boss launches defence lawyers defe...       business
1     german business confidence slides german busin...       business
2     bbc poll indicates economic gloom citizens in ...       business
3     lifestyle  governs mobile choice  faster  bett...           tech
4     enron bosses in $168m payout eighteen former e...       business
...                                                 ...            ...
1435  double eviction from big brother model caprice...  entertainment
1436  dj double act revamp chart show dj duo jk and ...  entertainment
1437  weak dollar hits reuters revenues at media gro...       business
1438  apple ipod family expands market apple has exp...           tech
1439  santy worm makes unwelcome visit thousands of ...           tech

[1440 rows x 2 columns]

In [36]:
def clean_text_lemmatize(data_df):
    for index, row in data_df.iterrows():
        sample = row['Text']
        data_df.loc[index, 'Text'] = text_preprocessing_lemm(sample)
    return data_df

df = clean_text_lemmatize(df1)
df

                                                   Text       Category
0     [worldcom, ex-boss, launch, defence, lawyer, d...       business
1     [german, business, confidence, slide, german, ...       business
2     [bbc, poll, indicates, economic, gloom, citize...       business
3     [lifestyle, governs, mobile, choice, faster, b...           tech
4     [enron, boss, 168m, payout, eighteen, former, ...       business
...                                                 ...            ...
1435  [double, eviction, big, brother, model, capric...  entertainment
1436  [dj, double, act, revamp, chart, show, dj, duo...  entertainment
1437  [weak, dollar, hit, reuters, revenue, medium, ...       business
1438  [apple, ipod, family, expands, market, apple, ...           tech
1439  [santy, worm, make, unwelcome, visit, thousand...           tech

[1440 rows x 2 columns]

In [37]:
split = 0.3
X_train, X_test, y_train, y_test = train_test_split(df['Text'], df['Category'], test_size=split, random_state=42, stratify=df['Category'])

data = {"Text": X_train,
        "Category": y_train}
df_train = pd.concat(data, axis = 1).reset_index(drop=True)

tf_icf_matrix_4, prob_cat_4 = train(df_train)
y_predicted = predict(X_test, tf_icf_matrix_4, prob_cat_4)

print(f'Accuracy: {accuracy_score(y_test, y_predicted)}')
print(classification_report(y_test, y_predicted))

Accuracy: 0.9513888888888888
               precision    recall  f1-score   support

     business       0.97      0.91      0.94       100
entertainment       0.97      0.94      0.95        79
     politics       0.94      0.95      0.94        80
        sport       0.96      1.00      0.98       103
         tech       0.91      0.96      0.93        70

     accuracy                           0.95       432
    macro avg       0.95      0.95      0.95       432
 weighted avg       0.95      0.95      0.95       432